{{ 'consors-product.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'calc.css' | asset_url }}">
<script defer src="{{ 'consors-cart.js' | asset_url }}"></script>
<style>
  #ah-cart-redirect {
    {% if cart.empty? %}
      display: none !important;
    {% endif %}
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .HiddenInfo {
    visibility: hidden;
    display: none !important;
  }
</style>


<div
  hidden
  id="cf-cart-price"
  style="display: none;"
  class="HiddenInfo">{{ cart.total_price }}</div>
<div
  hidden
  id="shopDomain"
  style="display: none;"
  class="HiddenInfo">{{ shop.permanent_domain }}</div>

{% comment %} <div id="ah-cart-redirect">
            <img class="financing--logo" src="{{'Consors_Finanz_Logo.png' | asset_url}}" alt="Consors Finanz Logo" width="200" height="45" />
            <a class="button full-width" href="https://{{ shop.permanent_domain }}/pages/consors-efi">👉 Jetzt Finanzieren</a>
</div> {% endcomment %}

{% style %}
  #ah-cart-redirect {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .product--financing {
    width: "180px";
  }
  .btnPlusImg {
    display: flex;
    align-items: center;
  }
  .btnCartCalcDescription {
    width: 350px;
  }
  .btnCartCalcDescription p{
    width: 350px;
    margin-bottom: 0;
  }
  .separator{
    margin-right: 150px;
  }
  .finanzierenBtnCart{
    border-radius: 6px;
  }y
{% endstyle %}

<div id="ah-cart-redirect">
  <div class="separator">- oder -</div>
  <div class="btnPlusImg">
    <a class="button full-width" class="finanzierenBtnCart" href="https://{{ shop.permanent_domain }}/pages/consors-efi">👉 Jetzt Finanzieren</a>
      <img
        class="financing--logo"
        src="{{'Consors_Finanz_Logo.png' | asset_url}}"
        alt="Consors Finanz Logo"
        width="180"
        height="45">
  </div>
  <div class="btnCartCalcDescription">
    <p>Bezahlen Sie schnell und unkompliziert in kleinen Monatsraten.    
      Die Vermittlung erfolgt ausschließlich für den Kreditgeber BNP Paribas S.A.
       Niederlassung Deutschland, Rüdesheimer Straße 1, 80686 München</p>
    <span id="additional-calculator-text">Weitere Informationen finden sie</span>
    <button class="btn-reset inlineBtn" id="openDrawerBtn">hier</button>
  </div>
</div>

<div id="inlineCalcOverlay" class="inline-calc-overlay"></div>
<div id="calcDrawerContainer" class="calc-drawer-container">
  <span id="inlineCalcCloseBtn" class="inline-calc-closeBtn">&times;</span>
  <div id="inlineCalcDrawerContent" class="inline-calc-drawer-content">

    <div id="calculator">
      <div class="calculator">
        <div class="calculator-wrapper">
          <div class="calculator-title">
            Ihr möglicher
            <span class="nowrap">Finanzierungsplan<sup>1</sup>
            </span>
          </div>
          <div class="finance-amount">
            <div class="finance-amount-label">Finanzierungsbetrag</div>
            <div class="finance-amount-value">
              <input
                class="autosize"
                value="00.00"
                title="Finanzierungsbetrag">
              <span class="unit">&euro;</span>
            </div>
            <div class="ubernehmen-button">
              <input
                class="btn btn-change-value submit"
                type="submit"
                value="Übernehmen">
            </div>
          </div>
          <div class="duration">
            <div class="duration-label">
              GEWÜNSCHTE
              <span class="nowrap">ANZAHL AN RATEN</span>
            </div>
            <div class="duration-value">
              <button class="prev-month">
                <span class="arrow-icon left" />
              </button>
              <button class="month">1</button>
              <button class="month selected">2</button>
              <button class="month">3</button>
              <button class="next-month">
                <span class="arrow-icon right" />
              </button>
            </div>
          </div>
          <div class="more-months-switch">
            <div class="more-month-label">
              Zusätzliche Monatsraten anzeigen</div>
            <div class="more-month-button-wrapper">
              <div class="button">
                <div class="button-label">Nein</div>
                <div class="button-label on">Ja</div>
              </div>
            </div>
          </div>
          <div class="financial-box">
            <div class="monthly-rate">
              <div class="monthly-rate-label">
                Monatliche Rate
                <span class="nowrap">für Ihren Einkauf</span>
              </div>
              <div class="monthly-rate-value-wrapper">
                <span class="unit">&euro;</span>
                <span class="monthly-rate-value">00,00</span>
              </div>
            </div>
            <!-- less months -->
            <div class="show-on-less-month">
              <div class="interest-rate financial-box-detail">
                <div class="interest-rate-label detail-label">
                  Sollzinssatz für diesen Einkauf
                  <span class="nowrap">
                    für
                    <span class="months">0</span>
                    Monate (jährl., gebunden):</span>
                </div>
                <div class="interest-rate-value detail-value nowrap">0,00 %</div>
              </div>
              <div class="interest-value financial-box-detail">
                <div class="interest-value-label detail-label">
                  Mögliche Sollzinsen
                  <span class="nowrap">
                    für diesen Einkauf:</span>
                </div>
                <div class="interest-value-value detail-value nowrap">0,00 &euro;</div>
              </div>
            </div>
            <!-- more month -->
            <div class="show-on-more-month">
              <div class="interest-rate financial-box-detail">
                <div class="interest-rate-label detail-label">
                  Sollzinssatz für
                  <span class="months">0</span>
                  Monate (jährl., gebunden):
                </div>
                <div class="interest-rate-value detail-value nowrap">0,00 %</div>
              </div>
              <div class="eff-interest-rate financial-box-detail">
                <div class="detail-label">Effektiver Jahreszinssatz:</div>
                <div class="eff-interest-rate-value detail-value nowrap">0,00 %</div>
              </div>
              <div class="amount financial-box-detail">
                <div class="detail-label">Nettodarlehensbetrag:</div>
                <div class="amount-value detail-value nowrap">0,00 €</div>
              </div>
              <div class="interest-value financial-box-detail">
                <div class="detail-label">Sollzinsen:</div>
                <div class="interest-value-value detail-value nowrap">0,00 %</div>
              </div>
              <div class="total financial-box-detail">
                <div class="detail-label">Gesamtbetrag:</div>
                <div class="total-value detail-value nowrap">0,00 €</div>
              </div>
            </div>
          </div>
        </div>
        <div id="legal-text">
          <div class="legal-text">
            <div class="show-on-more-month" style="display: none;"></div>
            <div class="legal-1 show-on-less-month">
              <sup></sup>,

            </div>
            <div class="show-on-less-month">
              <strong>
                <u></u>
              </strong>
              <span class="campaign-interest-rate"></span>
              <span class="campaign-duration"></span>

            </div>
            <div class="show-on-less-month">
              <strong>
                <u></u>
              </strong>
            </div>
            <div class="show-on-less-month"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // const extensionProductSection = document.getElementById("cf-product-section");
    // const cartTotalPrice = document.getElementById("cf-cart-price").textContent;
    // const productPrice = document.getElementById("cf-product-price").textContent;

    const openBtn = document.getElementById("openDrawerBtn");
    const overlay = document.getElementById("inlineCalcOverlay");
    const drawer = document.getElementById("calcDrawerContainer");
    document.body.appendChild(overlay);
    document.body.appendChild(drawer);
    const closeBtn = document.getElementById("inlineCalcCloseBtn");

    function openDrawer() {
      overlay.style.display = "block";
      drawer.style.display = "block";
      setTimeout(() => {
        drawer.classList.add("open");
      }, 10);
    }

    function closeDrawer() {
      drawer.classList.remove("open");
      setTimeout(() => {
        overlay.style.display = "none";
        drawer.style.display = "none";
      }, 500); 
    }

    openBtn.addEventListener("click", openDrawer);
    closeBtn.addEventListener("click", closeDrawer);
    overlay.addEventListener("click", closeDrawer);
  });
</script>
{% schema %}
  {
    "name": "Cart Consors-EFI",
    "target": "section"
  }
{% endschema %}