
<!-- jquery 3.3.1 - Don't add defer tag!!! -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{{ 'consors-product.css' | asset_url | stylesheet_tag }}
<script defer src="{{ 'calculator.js' | asset_url }}"></script>
<script defer src="{{ 'consors-product.js' | asset_url }}"></script>
<link rel="stylesheet" href="{{ 'calc.css' | asset_url }}">

<div hidden id="cf-product-id" class="HiddenInfo">{{ product.variants[0].id }}</div>
<div hidden id="cf-secure-url" class="HiddenInfo">{{ shop.secure_url }}</div>
<div hidden id="cf-product-price" class="albisHiddenInfo">{{ product.price }}</div>
<div hidden id="cf-shop-domain" class="HiddenInfo">{{ shop.domain }}</div>
<div hidden id="cf-cart-price" class="HiddenInfo">{{ cart.total_price }}</div>

<div class="d-flex gap" id="cf-product-section">
  <div class="separator">- oder -</div>
  <a id="addProductAndRedirect" class="button full-width" href="https://{{ shop.permanent_domain }}/pages/consors-efi">👉 Jetzt Finanzieren</a>
  <div class="product--financing">
    <img class="financing--logo" src="{{'Consors_Finanz_Logo.png' | asset_url}}" alt="Consors Finanz Logo" width="200" height="45"><br>
    Finanzieren Sie bequem mit Consors Finanz.<br>
    <p id="additional-calculator-text">Weitere Informationen finden sie 
    <a class="openModalConsors" id="openCalculator">hier</a></p>
  </div>
</div>
<div class="inline-calc-overlay"></div>
  <div id="modal-container" class="drawer" hidden>
    <div id="modal"> 
      <button id="closeCalculator" class="calculator__close" type="button" aria-label="Close">
        x
      </button>
      <!-- calculator container -->
      <div id="calculator" ></div>
    </div>
  </div>


<script>
  // Get the modal
  var calculatorModal = document.getElementById("modal-container");
  
    // Get the button that opens the modal
  var btn = document.getElementById("openCalculator");
  
  // Get the button that opens the modal
  var closeCalculator = document.getElementById("closeCalculator");
  
  // When the user clicks on the button, open the modal
  btn.onclick = function() {
    calculatorModal.hidden = false
    {% comment %} calculatorModal.style.display = "block"; {% endcomment %}
  }
  
  closeCalculator.onclick = function() {
    calculatorModal.hidden = true
  }
  </script>
{% schema %}
{
  "name": "Product Consors Finance",
  "target": "section"
}
{% endschema %}
